name: Quality Control
description: Run quality control checks over the codebase

runs:
  using: "composite"
  steps:
  - name: Install Dependencies
    shell: bash
    run: |
      set -ex
      sudo apt-get update
      sudo apt-get install --yes clang-format-13
      pip install cmake_format==0.6.9

  - name: C++ Formatting
    shell: bash
    run: |
      set -ex
      clang-format-13 --version
      find src/ -type f -regex '.*\.\(c\|cpp\|h\|hpp\|hui\)' -exec clang-format-13 -i {} +
      git diff
      git diff --quiet

  - name: CMake Formatting
    shell: bash
    run: |
      set -ex
      cmake-format --version
      find src/ -type f -name CMakeLists.txt -exec cmake-format -i '{}' \;
      git diff
      git diff --quiet

  - name: Install Qt
    shell: bash
    run: |
      set -ex
      sudo pip3 install aqtinstall
      aqt install-qt --outputdir /tmp/qt linux desktop ${{ env.qtVersion }} -m qt3d

  - name: QML Formatting
    shell: bash
    run: |
      set -ex
      qmlformat --version
      find src/ -type f -regex '.*\.qml' -exec qmlformat -inw 4 {} +
      git diff
      git diff --quiet

#  - name: Copyright Year
#    condition: eq(0,1)
#    shell: bash
#    run: |
#      set -ex
#
#      # Find all occurances of "YYYY Team Mildred and contributors" and replace YYYY with the current year
#      find . -type f -not -path '.git/*' -exec sed -i "s/[0-9]{4} \(Team Mildred and contributors\)/$(date +%Y) \1/g" {} +
#
#      # Show the diff to give an indication of the issues in the CI log
#      git diff
#
#      # Run quiet diff to fail the job if any changes were made (see man git-diff)
#      git diff --quiet
